<div class="row grid">
  <figure class="effect-sadie">
    <img src="img/1.jpg" alt="img02"/>
    <figcaption>
      <h2>Sample <span>Article</span></h2>
      <p>Demo text goes here until user clicks to read more.</p>
      <a href="#">View more</a>
    </figcaption>
  </figure>
  <figure class="effect-sadie">
    <img src="img/7.jpg" alt="img14"/>
    <figcaption>
      <h2>Sample <span>Article</span></h2>
      <p>Demo text goes here until user clicks to read more.</p>
      <a href="#">View more</a>
    </figcaption>
  </figure>
</div>
<br>
