  <div class="editor" >
    <h1>Magazines Invitations</h1>

       <div class="row">
        <div class="col-sm-3 ">
        Magazine Name
        </div>

       </div>

        <% @reqinv.each do |i| %>

          <div class="row">
          <div class="col-sm-3 ">
          <%= Magazine.find(i.Magazine_id).name %>
          </div>

          <div class="col-sm-3 ">
            <%= link_to 'Approve', {controller: :collaboration_invitations, action: :check_for_approve, id: i.id} %>

           </div>

           <div class="col-sm-3 ">
             <%= link_to 'Reject', {controller: :collaboration_invitations, action: :check_for_reject, id: i.id} %>
           </div>
           </div>
       <%end%>
      <% if @reqinv.size == 0 %>
        <em>No invitations magazines</em>
      <% end %>


    </div>
