<div class="row grid">
    <% @articles.each do |article| %>
    <% if article.homepagelist%>
      <figure class="effect-sadie">
        <img src= <%= article.image%> alt="img02"/>
        <figcaption>
          <h2><%= article.title%></h2>
          <a <%= link_to 'Show', article %></a>
        </figcaption>
      </figure>
    <% end %>
    <% end %>
  </div>
