<!% @users= User.where(:banned => 1) %>

<% if @users != nil %>
<% @users.each do|u| %>


<div class="row">
  <div class="col-md-2"></div>
<div class="col-md-2">
  <div class="commenterImage">
  <img src= "http://fc00.deviantart.net/fs71/f/2013/012/5/f/portrait_of_anime__black_skinned_boy__by_sunoflove-d5r9fau.png" >
  </div>
</div><!-- /col-sm-1 -->
<div class="col-md-6">
<div class="panel panel-default">
  <div class="panel-heading">

<strong><font size="5"><%= c.firstname %></font></strong> <span class="text-muted">on <%= comment.created_at.to_s[0,10] %></span>
<%= link_to '<font size ="5" color="black" ><span class = "fa fa-trash" ></span></font>'.html_safe , c,
:method => :unban %>

</div><!-- /panel panel-heading -->
</div><!-- /panel panel-default -->
</div><!-- /10 -->
  <div class="col-md-2"></div>
</div> <!-- /row -->

  <% end %>

   <% else %>
  <p> Nothing to display </p>
  <% end %>
