<h1>Editing Magazine</h1>

<<<<<<< HEAD
<%= render 'form' %>

<%= link_to 'Show', @magazine %> |
<%= link_to 'Back', magazines_path %>
=======
<%= render 'edit_form' %>
>>>>>>> ecee245503362cc428fc50fb9b1eeef0823cbac6
