
<%= form_tag ({:controller => 'ads', :action => 'create', :u_id =>current_user.id}) do %>
<!-- Check if there are any errors and display them -->
<div class="editor" >
  <!-- Article Title -->
    <div class="row">
      <div class="col-sm-5   ">
        <h3> Ad Title</h3>
        <%= text_field_tag :title2 %>
      </div>
      <!-- Article Image -->

    </div>
    <!-- Redactor WYSIWIG Editor -->
  <div class="row">
    <div class="col-sm-12">
    <p>  <%= text_area_tag :des2, "", :class => "redactor", :rows => 50, :cols => 120 %> </p>
    </div>
  </div>
  <!-- Submit Article -->
  <div class="row">
    <div class="col-sm-12">
      <div class="actions">
        <button type="submit"> <font size="5"color=#0099FF><span class="fa fa-share-square-o"></span></font></button>



      </div>
    </div>
  </div>
</div>
<% end %>
