<% content_for :javascript_includes do %>
  <%= javascript_include_tag "cbpFWTabs.js" %>
<% end %>
<% content_for :javascript_includes do %>
  <%= javascript_include_tag "modernizr.custom.js" %>
<% end %>
<section>
<div class= "row">
      <div class="tabs tabs-style-circle">
        <div class= "col-md-2">

        <nav>
          <ul>

            <li><a href="#section-circle-1" class="icon icon-plug"><span></span></a></li>
            <li><a href="#section-circle-2" class="icon icon-gift"><span>Gifts</span></a></li>
            <li><a href="#section-circle-3" class="icon icon-box"><span>Boxes</span></a></li>
            <li><a href="#section-circle-4" class="icon icon-date"><span>Prints</span></a></li>
            <li><a href="#section-circle-5" class="icon icon-plane"><span>Fun</span></a></li>
          </ul>
        </nav>
      </div>
      <div class= "col-md-8">
        <div class="content-wrap">

          <section id="section-circle-1"><div class ="well">asdasdasd</div></section>
          <section id="section-circle-2"><p>2</p></section>
          <section id="section-circle-3"><p>3</p></section>
          <section id="section-circle-4"><p>4</p></section>
          <section id="section-circle-5"><p>5</p></section>
        </div><!-- /content -->
      </div>
      </div><!-- /tabs -->

  </div>
</section>
    <script>
      (function() {

        [].slice.call( document.querySelectorAll( '.tabs' ) ).forEach( function( el ) {
          new CBPFWTabs( el );
        });

      })();
    </script>
