<div class= "row">
<div class= "col-md-2"></div>
<div class= "col-md-8">
  <section>
    <div class="tabs tabs-style-circle">
      <nav>
        <ul>

          <li><a href="#section-circle-1" class="icon icon-plug"><span></span></a></li>
          <li><a href="#section-circle-2" class="icon icon-gift"><span>Gifts</span></a></li>
          <li><a href="#section-circle-3" class="icon icon-box"><span>Boxes</span></a></li>
          <li><a href="#section-circle-4" class="icon icon-date"><span>Prints</span></a></li>
          <li><a href="#section-circle-5" class="icon icon-plane"><span>Fun</span></a></li>
        </ul>
      </nav>
      <div class="content-wrap">
        <section id="section-circle-1"><p>1</p></section>
        <section id="section-circle-2"><p>2</p></section>
        <section id="section-circle-3"><p>3</p></section>
        <section id="section-circle-4"><p>4</p></section>
        <section id="section-circle-5"><p>5</p></section>
      </div><!-- /content -->
    </div><!-- /tabs -->
  </section>
</div>


</div>
