<div style="width: 30%; margin-left: auto; margin-right: auto;">
<form action="/payments/new" method="GET">
    <ul class="input-list style-1 clearfix">
      <label>Amount in $</label>
      <input type="text" name="amount"/>
      <br>
      <input type="submit" class="btn btn-outlined btn-grey" value="Continue" style="width: 100%;"/>
    </ul>
</form>
</div>
