.polaroid {
  position: relative;
  width: 540px;
}

.polaroid img {

  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;

}

.polaroid p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  font: 800 18px/1 'Kaushan Script', cursive;
  color: #888;
}
.limitSize img{
  max-width: 890px  ;
}
