  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  nav,
  section,
  summary{
    display:block;
  }
  audio,
  canvas,
  video
  {
    display:inline-block;
  }

  audio:not([controls])
  {
    display:none;
    height:0;
  }
  [hidden]{
    display:none;
  }
  html{font-family:sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
  }
  body{
    margin:0;
  }a:focus{outline:
    thin dotted;
  }
  a{
    color: black
  }
  a:active,a:hover, a:focus{
    outline:0;
    text-decoration: none ;
    cursor: pointer;
    color: black !important;
  }
  h1{
    font-size:2em;
    margin:0.67em 0;
  }
  hr{
    color: black !important;
    display: block;

   border-width: 1px;
  }
  abbr[title]{
    border-bottom:1px dotted;}
    b,strong{
      font-weight:bold;
    }
    dfn{
      font-style:italic;
    }

    mark{background:#ff0;
      color:#000;
    }code,kbd,pre,samp{
      font-family:monospace,serif;
      font-size:1em;
    }
    pre{
      white-space:pre-wrap;
    }
    q{quotes:"\201C" "\201D" "\2018" "\2019";}
    small{
      font-size:80%;
    }
    sub,sup{font-size:75%;
      line-height:0;
      position:relative;
      vertical-align:baseline;
    }
    sup{
      top:-0.5em;
    }
    sub{
      bottom:-0.25em;
    }img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}

    /* Default tab style */

    @font-face {
    	font-weight: normal;
    	font-style: normal;
    	font-family: 'stroke7pixeden';
    	src:url('../fonts/stroke7pixeden/stroke7pixeden.eot?u58ytb');
    	src:url('../fonts/stroke7pixeden/stroke7pixeden.eot?#iefixu58ytb') format('embedded-opentype'),
    		url('../fonts/stroke7pixeden/stroke7pixeden.woff?u58ytb') format('woff'),
    		url('../fonts/stroke7pixeden/stroke7pixeden.ttf?u58ytb') format('truetype'),
    		url('../fonts/stroke7pixeden/stroke7pixeden.svg?u58ytb#stroke7pixeden') format('svg');
    }

    .tabs {
    	position: relative;
    	overflow: hidden;
    	margin: 0px auto;
    	width: 100%;
    	font-weight: 300;
    	font-size: 1.25em;
    	float: left
    }

    /* Nav */
    .tabs nav {
    	text-align: center;
    }

    .tabs nav ul {
    	position: relative;

    	margin: 0 auto;
    	padding: 0;
    	max-width: 1200px;
    	list-style: none;
    		-ms-box-orient: horizontal;
    	-ms-box-pack: left;
    	-webkit-flex-flow: row wrap;
    	-moz-flex-flow: row wrap;
    	-ms-flex-flow: row wrap;
    	flex-flow: row wrap;
    	-webkit-justify-content: left;
    	-moz-justify-content: left;
    	-ms-justify-content: left;
    	justify-content: left;
    }

    .tabs nav ul li {
    	position: relative;
    	z-index: 1;
    	display: block;

    	margin: 0;
    	padding: 30% ;
    	text-align: center;
    	-webkit-flex: 11;
    	-moz-flex: 11;
    	-ms-flex: 11;
    	flex: 11;
    }

    .tabs nav a {
    	position: relative;
    	display: block;
    	overflow: hidden;
    	text-overflow: ellipsis;
    	white-space: nowrap;
    	line-height: 2.5;
    }

    .tabs nav a span {
    	vertical-align: middle;
    	font-size: 0.75em;
    }

    .tabs nav li.tab-current a {
    	color: #74777b;
    }

    .tabs nav a:focus {
    	outline: none;
    }
  .tabs nav li a:hover {
    background-color: none !important;
    text-decoration: none ;
    color: #74777b ;
    cursor: pointer ;
}
.well{
  height: 300px ;
  width: 220px ;
  image-align: center ;
  background-color: whiteh;
}
.well img {
    padding-right: 20px ;}

h5{
  color:black !important;
}
    /* Icons */
    .icon::before {
    	z-index: 10;
    	display: inline-block;
    	margin: 0 0.4em 0 0;
    	vertical-align: middle;
    	text-transform: none;
    	font-weight: normal;
    	font-variant: normal;
    	font-size: 1.3em;
    	font-family: 'stroke7pixeden';
    	line-height: 1;
    	speak: none;
    	-webkit-backface-visibility: hidden;
    	-webkit-font-smoothing: antialiased;
    	-moz-osx-font-smoothing: grayscale;
    }
    .fa::before {
    	z-index: 10;
    	display: inline-block;
    	margin: 0 0.4em 0 0;
    	vertical-align: middle;
    	text-transform: none;
    	font-weight: normal;
    	font-variant: normal;
    	font-size: 1.3em;
    	font-family: 'stroke7pixeden';
    	line-height: 1;
    	speak: none;
    	-webkit-backface-visibility: hidden;
    	-webkit-font-smoothing: antialiased;
    	-moz-osx-font-smoothing: grayscale;
    }
    .icon-upload::before {
    	content: "\e68a";
    }
    .icon-tools::before {
    	content: "\e60a";
    }
    .icon-plane::before {
    	content: "\e625";
    }
    .icon-joy::before {
    	content: "\e6a4";
    }
    .icon-plug::before {
    	content: "\e69a";
    }
    .icon-home::before {
    	content: "\e648";
    }
    .icon-gift::before {
    	content: "\e652";
    }
    .icon-display::before {
    	content: "\e65e";
    }
    .icon-date::before {
    	content: "\e660";
    }
    .icon-config::before {
    	content: "\e666";
    }
    .icon-coffee::before {
    	content: "\e669";
    }
    .icon-camera::before {
    	content: "\e66f";
    }
    .icon-box::before {
    	content: "\e674";
    }
    .fa-newspaper-o::before {
      content: "\e674";
    }
    .fa-usd{
      content: "\e674";
    }

    /* Content */
    .content-wrap {
    	position: relative;
    }

    .content-wrap section {
    	display: none;
    	margin: 0 auto;
    	padding: 1em;
    	max-width: 1200px;
    	text-align: center;
    }

    .content-wrap section.content-current {
    	display: block;
    }

    .content-wrap section p {
    	margin: 0;
    	padding: 0.75em 0;
    	color: rgba(40,44,42,0.05);
    	font-weight: 900;
    	font-size: 4em;
    	line-height: 1;
    }

    /* Fallback */
    .no-js .content-wrap section {
    	display: block;
    	padding-bottom: 2em;
    	border-bottom: 1px solid rgba(255,255,255,0.6);
    }

    .no-flexbox nav ul {
    	display: block;
    }

    .no-flexbox nav ul li {
    	min-width: 15%;
    	display: inline-block;
    }

    @media screen and (max-width: 58em) {
    	.tabs nav a.icon span {
    		display: none;
    	}
      .tabs nav a.fa span {
    		display: none;
    	}
    	.tabs nav a:before {
    		margin-right: 0;
    	}
    }

    .tabs-style-circle {
    	overflow: visible;
    }

    .tabs-style-circle nav li::before {

    }

    @media screen and (max-width: 58em) {
    	.tabs-style-circle nav li::before {
    		margin: -40px 0 0 -40px;
    		width: 80px;
    		height: 80px;
    	}
    }

    .tabs-style-circle nav li.tab-current::before {
    	opacity: 1;
    	-webkit-transform: scale3d(1,1,1);
    	transform: scale3d(1,1,1);
    }

    .tabs-style-circle nav a {
    	overflow: visible;
    	color: #74777b;
    	font-weight: 700;
    	font-size: 0.9em;
    	line-height: 1.1;
    	-webkit-transition: color 0.3s cubic-bezier(0.7,0,0.3,1);
    	transition: color 0.3s cubic-bezier(0.7,0,0.3,1);
    }

    .tabs-style-circle nav a span {
    	display: inline-block;
    }

    .tabs-style-circle nav a span,
    .tabs-style-circle .icon::before {
    	-webkit-transition: -webkit-transform 0.3s cubic-bezier(0.7,0,0.3,1);
    	transition: transform 0.3s cubic-bezier(0.7,0,0.3,1);
    }
    .tabs-style-circle .fa::before {
      -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.7,0,0.3,1);
      transition: transform 0.3s cubic-bezier(0.7,0,0.3,1);
    }

    .tabs-style-circle nav a:hover,
    .tabs-style-circle nav a:focus {
    	color: black;
    }

    .tabs-style-circle nav li.tab-current a {
    	color: #2CC185;
    }

    .tabs-style-circle nav li.tab-current a span {
    	-webkit-transform: translate3d(0,4px,0);
    	transform: translate3d(0,4px,0);
    }

    .tabs-style-circle .icon::before {
    	display: block;
    	margin: 0;
    	pointer-events: none;
    }
    .tabs-style-circle .fa::before {
      display: block;
      margin: 0;
      pointer-events: none;
    }

    .tabs-style-circle nav li.tab-current .icon::before {
    	-webkit-transform: translate3d(0,-4px,0);
    	transform: translate3d(0,-4px,0);
    }
