
<!% @articles = Article.find(Reported_articles.uniq.pluck(:article_id)) %>

<% if @articles != nil %>
<% @articles.each do|a| %>
  
  <font size="4"><i><b><%=h User.find(a.user_id).firstname %> :</b></i></font><br />
  &nbsp;&nbsp;&nbsp;<%=h a.body %><br />
   
   <%= link_to 'Dismiss', a, :method => :dismiss %>
  
  <%= link_to 'Delete', a, :confirm => 'Are you sure?', :method => :delete %>
   
  <br />
  <br />
  <% end %>
  
  <% else %>
  <p> Nothing to display </p>
  <% end %>
