
	 <ul class="nav nav-pills">
	  <li role="presentation" class="tabClicker" data-tab="tabs-1" > <a href="#reportedArticles">Reported Articles</a></li>
	  <li role="presentation" class="tabClicker" data-tab="tabs-2" ><a href="#reportedComments">Reported Comments </a></li>
	  <li role="presentation" class="tabClicker" data-tab="tabs-3"><a href="#dismissedArticles">Dismissed Articles </a></li>
		<li role="presentation" class="tabClicker" data-tab="tabs-4"><a href="#dismissedComments">Dismissed Comments </a></li>
	</ul>

	<div id="tabs-1" class="tabContent" ><%= render :partial => 'reported_articles' %> </div>
		<div id="tabs-2" class="tabContent"><%= render :partial => 'reported_comments' %></div>
		<div id="tabs-3" class="tabContent" ><%= render :partial => 'dismissed_articles' %></div>
		<div id="tabs-4" class="tabContent" ><%= render :partial => 'dismissed_comments' %></div>
	 <script>
	  $(function() {
	     $(".tabClicker").click(function() {
	      var tab = $(this).attr("data-tab");
	       $(".tabContent").hide();
	       $("#" + tab).show();
	    });
	});
	 </script>
	     <style>
	      .tabContent {
	      display:none;
	   }
	   </style>
