
<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#home">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>

$('#myTab a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
